.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}

.title span {
  color: #044be4;
}

.button {
  border: none;
  background-color: #ff0000ab;
  border-radius: 8px;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: background-color linear 250ms;
}

.button:hover {
  background-color: #a80000;
}
